/* font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif; */

body {
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

.main-container {
    margin-left: 100px;
    margin-right: 100px;
}

.header-image {
    border-radius: 50%;
    height: 12%;
    width: 12%;
}

h1 {
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
}

.img {
    width: 100%;
    transition:  0.4s ease;
}

.img:hover {
    opacity: 0.6;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: black;
    color: snow;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: black;
    height: 1000px;
}

.grid-container2 > div { 
    background-color: black;
}

.grid-image3 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-image4 {
    grid-row-start: 4;
}

.heading3 {
    margin-top: 700px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    height: 300px;
}

.grid-container3 > div {
    background-color: black;
}

.headings {
    color: yellow;
}

.middlePara {
    color: #ccc;
    font-size: 16px;
}

.smalltext {
    color: #9e9e9e;
    font-size: 10px;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    background-color: black;
    color: snow;
    padding: 50px;
    margin-top: 100px;
}

.footerlinks {
    text-align: left;
}

.footertext {
    text-align: right;
}

/*-------------- Media Queries -------------*/

@media screen and (max-width:1045px) {

    body {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
        margin-top: 0px;
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5%;
    }

    .header-image {
        border-radius: 50%;
        height: 12%;
        width: 12%;
    }
    
    #headerPara {
        text-align: center;
        padding: 10px;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5%;
    }

}

@media screen and (max-width: 800px) {

    body {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
        margin-top: 0px;
    }

    .main-container {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5%;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5%;
    }

    .grid-container3 {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5%;
    }
    
}